<div class="col-sm-4 mb-3 ">
	<div class="card border border-info shadow-bx">
		<div class="card-header bg-info">
			<h6>
				<%= image_tag (product_detail(plan.product).images.first), width:30, height:30, class:"img-circle"%>
				<%= product_detail(plan.product).name %>
			</h6>
		</div>
		<div class="card-body">
				<p class="para-billing"><b>Description:</b> 
						<%= product_detail(plan.product).description %>
				</p>
				<% if current_user.subscription.present? &&  current_user.subscription.stripe_plna_id == plan.id %>
					<p class="para-billing"><b>status:</b> 
							<%= subscription_retrieve(current_user.subscription.stripe_subscription_id).status %> 
							<%if subscription_retrieve(current_user.subscription.stripe_subscription_id).status == "trialing"%>for (
								<%= current_user.subscription.trial_expire_at.strftime("%d %h %y") %>)
							<% end %>
					</p>
				<%else%>
					<p class="para-billing"><b>Active:</b> 
							<%= product_detail(plan.product).active %>
					</p>
				<%end%>
				<p class="para-billing"><b>Free trial:</b> 
						<%= plan.trial_period_days %> days
				</p>
				<h6 class="pt-3 pb-3 text-center">
				<span class="border bg-warning pl-2 pr-2" style="border-radius:15px;"> 
						₹<%= plan.amount/100 %> / <%= plan.interval %>
				</span>
				</h6>
				<p class="para-billing"><b>Currency:</b> 
						<%= plan.currency %>
				</p>

				<% if current_user.subscription.present? &&  current_user.subscription.stripe_plna_id == plan.id%>
						<%# debugger %>
						<% if  subscription_retrieve(current_user.subscription.stripe_subscription_id).status == "trialing"%>
							<%= form_tag create_payment_method_path, id: "billing-create-payment-method" do  %>
			        		<%= link_to "pay now", add_payment_method_path(amount:plan.amount/100,plan:plan.id), remote: true, class: "buy_button btn btn-success mt-1"%>
			        <%end%>
		        <%elsif subscription_retrieve("sub_KC37ZWhUhfxZ7m").status == "active" && Time.at(subscription_retrieve("sub_KC37ZWhUhfxZ7m").trial_end) < Time.now%>
						  	<%= link_to "current plan", add_payment_method_path(amount:plan.amount/100,plan:plan.id), class: "buy_button btn btn-outline-dark disabled mt-1"%>
		      	<%end%>
		    <%else%>
		    		<% if !current_user.subscription.present? %>
		    			<%= form_tag create_payment_method_path, id: "billing-create-payment-method" do  %>
		        		<%= link_to "Buy now", add_payment_method_path(amount:plan.amount/100,plan:plan.id), remote: true, class: "buy_button btn btn-primary mt-1"%>
		        	<%end%>
		    		<% elsif current_user.subscription.present? && plan.amount < subscription_retrieve(current_user.subscription.stripe_subscription_id).items.first.plan.amount%>
		      		<%= form_tag create_payment_method_path, id: "billing-create-payment-method" do  %>
		        		<%= link_to "Downgrade now", add_payment_method_path(amount:plan.amount/100,plan:plan.id), remote: true, class: "buy_button btn btn-primary mt-1"%>
		        	<%end%>
		      	<%else%>
		      		<%= form_tag create_payment_method_path, id: "billing-create-payment-method" do  %>
		      			<%= link_to "Ugrade now", add_payment_method_path(amount:plan.amount/100,plan:plan.id), remote: true, class: "buy_button btn btn-primary mt-1"%>
		      		<%end%>
		      	<%end%>  
		    <% end %>
		</div>	
	</div>	
</div>