<center>
  <table>  
  <% posts.each_slice(3)  do |posts| %>
    <tr>
      <% posts.each  do |post| %>
      <td style="border: 3px solid gray;">
          <%# debugger %>
        	<h4>Title : <%= post.title %></h4>
        	<%= image_tag post.image.url, width:350, height:200%>
           	<p><b>Description : </b><%= post.description %></p> 
           	<%= render 'likes/like', post:post%> |
            <%= link_to 'Comment', new_comment_path(user_id:post.user_id,post_id:post.id) %>
			     <h5>Comment : </h5>
			          <ul>
                <% post.comments.each do |c|%>
                
                    <li style="font-size: 15px;"><%= c.comment %> | 
                    <% if !c.likes.where(user_id:current_user.id).blank?%>
                        <%= c.likes.count %>
                        <%= link_to "Unlike", like_path(id: c.likes.last.id), method: :delete, remote:true %>
                    <% elsif c.likes.where(user_id:current_user.id).blank? %>
                        <%= c.likes.count %>
                        <%= link_to "Like", likes_path(comment_id:c.id,like_on_type:"Comment"), method: :post, remote:true %>
                    <% end %>
                    </li>
                <% end %>
        	      </ul>
      </td>
      <% end %>
    </tr>
  <% end %>
  </table>
</center>
        