<div class="container"> 
  <% posts.each_slice(3)  do |posts| %>
    <div class="row">
      <% posts.each  do |post| %>
      <div class="col-sm-4 p-3 border">
          <div class="grid">
              <h6 class="text-secondary" style="font-weight: 1000;">Title : <%= post.title %></h6>
        	    <%= image_tag post.image.url, width:350, height:200%>
           	  <p class="text-info pt-3"><b>Description : </b><%= post.description %></p> 
           	  <span id="like_or_unlike_<%= post.id%>">
                  <%= render 'likes/like', post:post%>
              </span> 
              <%#= link_to 'Comment', new_comment_path(user_id:post.user_id,post_id:post.id) %>
              <div class="comment-form">
                  <%= form_for Comment.new, remote:true do |f| %>
                  <%= f.hidden_field :user_id , value:current_user.id %>
                  <%= f.hidden_field :post_id, value:post.id %>
                  <div class="field">
                  <%= f.text_field :comment, class:"form-control" %>
                  </div>
                  <div class="actions">
                  <%= f.submit "Create Comment",class:"btn btn-success"%>
                  </div>
                  <% end %>
              </div>

              <div id="comment_<%= post.id%>">
                 <%= render partial:'comments/comment',locals: {post:post} %>
              </div>
          </div>  
      </div>
      <% end %>
    </div>
  <% end %>
</div>

        