<% if user_signed_in? %>

<div class="pt-2 w-50">
  <%= form_tag search_post_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], class:"form-control w-50 d-inline" %>
      <%= submit_tag "Search", :title => nil, class:"btn btn-dark w-25 "%>
  <% end %>
</div>

<div class="body">
    <% if current_user.role?("User") %>
        <p class="text-light w-50 pt-3 pb-3">
            <%= link_to 'New post', new_post_path(id:current_user), class:"btn btn-success text-dark"%>  
            <%= link_to 'show post', post_path(id:current_user),class:"btn btn-info text-dark"%>
        </p>                        
        <%= render 'show_post', posts:@postall%>

    <% elsif current_user.role?("Admin") %>
        <p class="text-info pt-3 pl-2">
            <%= link_to 'New post', new_post_path(id:current_user), class:"text-info" %>
            | <%= link_to 'View all', posts_path, class:"text-success"%>
        </p>
        <h3>Welcome !!!</h3>
        <%= render 'show_post', posts:@postall%>
    <% end %>

<% end %>
<br><br>
</div>

<% if !user_signed_in? %>
  <table>  
  <% @posts.each_slice(3)  do |posts| %>
      <tr>
        <% posts.each  do |post| %>
        <td><%= image_tag post.image.url, width:350, height:200%>
            <h4>
                <center><%= post.title %></center>
            </h4>
        </td>
        <% end %>
      </tr>
  <% end %>
  </table>
  <%= will_paginate @posts%>
<%end %>


