<% if user_signed_in? %>
    <% if current_user.role?("User") %>
        <p class="text-info p-3">
            <%= link_to 'New post', new_post_path(current_user)%> |  
            <%= link_to 'show post', post_path(id:current_user)%>
        </p>                          
        <hr><h3>Hii!, User.</h3>
        <%= render 'show_post', posts:@postall%>

    <% elsif current_user.role?("Admin") %>
        <p class="text-info pt-3 pl-2">
            <%= link_to 'New post', new_post_path(id:current_user), class:"text-info" %>
            | <%= link_to 'View all', posts_path, class:"text-success"%>
        </p><hr>
        <h3>Welcome !!!</h3>
        <%= render 'show_post', posts:@postall%>
        
    <%else %>
        <hr>
        <h3>Hii!, Creator.</h3>
    <% end %>  
<% end %>
<br><br>


<% if !user_signed_in? %>
  <table>  
  <% @posts.each_slice(3)  do |posts| %>
      <tr>
        <% posts.each  do |post| %>
        <td><%= image_tag post.image.url, width:350, height:200%>
            <h4>
                <center><%= post.title %></center>
            </h4>
        </td>
        <% end %>
      </tr>
  <% end %>
  </table>
  <%= will_paginate @posts%>
<%end %>


