<% if user_signed_in? %>
    <% if current_user.role?("User") %>
        | <%= link_to 'New post', new_post_path(current_user)%> |  
        <%= link_to 'show post', post_path(current_user)%>                              
        <hr><h3>Hii!, User.</h3>
        <%= render 'show_post', posts:@postall%>
    <% elsif current_user.role?("Admin") %>
        | <%= link_to 'New post', new_post_path %> | <%= link_to 'View all', posts_path%><hr>
        <h3>Welcome !!!</h3>
        <%= render 'show_post', posts:@postall%>
    <%else %>
        <hr>
        <h3>Hii!, Creator.</h3>
    <% end %>  
<% end %>
<br><br>


<% if !user_signed_in? %>
  <table>  
  <% @posts.each_slice(3)  do |posts| %>
      <tr>
        <% posts.each  do |post| %>
        <td><%= image_tag post.image.url, width:350, height:200%>
            <h4>
                <center><%= post.title %></center>
            </h4>
        </td>
        <% end %>
      </tr>
  <% end %>
  </table>
  <%= will_paginate @posts%>
<%end %>


