<div class="form-inline mt-3 mb-3">
  <div class="float-left">
  <%= link_to "back", root_path, class: 'btn btn-dark text-light mr-3' %>
  <%= link_to "Export", show_users_path(format: "csv"), class: 'btn btn-dark mr-3' %>
  </div>
  <div class="float-right border pt-2 pl-3 pr-3">
  <%= form_tag(import_path,:multipart => true) do %>
    <%= file_field_tag :file%>
    <%= submit_tag "import", class:"btn btn-primary mb-2" %>
  <% end %>
  </div>
</div>  
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">user name</th>
      <th scope="col">email</th>
      <th scope="col">role</th>
      <th scope="col">Admin</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |u,index|%>
    <tr>
      <% if u.role == "User" || u.role == "Creator"%>
        <th scope="row"><%= index+1 %></th>
        <td><%= u.user_name %></td>
        <td><%= u.email %></td>
        <td><%= u.role %></td>
        <td><%= u.admin %></td>
        <td><center><%= link_to "Edit",edit_user_registration_path(id:u.id), class:"btn btn-success text-light fa fa-edit p-2" %>
          <%= link_to "Delete",user_registration_path(id:u.id),method: :delete, class:"btn btn-danger text-light fa fa-trash p-2", data: { confirm: 'Are you sure?' } %>  
          <%= link_to "Posts",post_path(id:u.id), class:"btn btn-primary text-light fa fa-sticky-note p-2"%><center>  
        </td>
      <% end %>  
    </tr>
    <% end %>
  </tbody>
</table>
