<div class="limiter">
<div class="container-login100">
<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

<div class="form">
   <span class="login100-form-title p-b-49">
         Login
   </span>
   <%= form_for(resource = User.new , as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
               <span class="label-input100"><%= f.label "Username/Email" %></span>
               <%= f.text_field :login, class:"input100",placeholder:"Type your username", autocomplete:"off"%>
               <span class="focus-input100" data-symbol="&#xf206;"></span>
         </div>

         <div class="wrap-input100">
               <span class="label-input100"><%= f.label :password %></span>
               <%= f.password_field :password, autocomplete: "current-password", class:"input100",placeholder:"Type your password" %>
               <span class="focus-input100" data-symbol="&#xf190;"></span>
               <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
               <% end %>
         </div>

         <div class="text-right" style="margin: 0px 90px;">
         <%= link_to "Forgot your password?", new_password_path(resource_name) %>
         </div>

         <% if devise_mapping.rememberable? %>
         <div style="padding: 20px 60px;">
               <%= f.check_box :remember_me%>
               <span>remember_me</span>
         </div>
         <% end %>

         <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
               <div class="login100-form-bgbtn"></div>
               <%= f.submit "LOGIN", class:"loginbtn w-100 p-3" %>
            </div>
         </div>

   <% end %>
</div>


<div class="txt1 text-center pt-5 pb-2">
   <span>
      Or Sign Up Using
   </span>
</div>
<div class="icons">
   <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
         <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider),method: :post, class:"login100-social-item bg1" %>
            <i class="fa fa-facebook"></i>
      <% end -%>
   <% end -%>  
   <a href="#" class="login100-social-item bg2">
      <i class="fa fa-twitter"></i>
   </a>
   <a href="#" class="login100-social-item bg3">
      <i class="fa fa-google"></i>
   </a>
</div>

<div class="text-center m-5 p-5">
   <p class="pb-1">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Sign up", new_registration_path(resource_name) %><br />
      <% end %>
   </p>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path(resource_name) %><br />
<% end %>
</div>

</div>
</div>
</div>


<div id="dropDownSelect1"></div>
