
<%= form_with(model: post, id:'create_post') do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %>prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="wrap-input100 validate-input m-b-23">
      <%= form.label :user_id %>
      <%= form.text_field :user_id , value: @user.id, class:"form-control"%>
    </div>

    <div class="wrap-input100 validate-input m-b-23">
      <%= form.label :title %>
      <%= form.text_field :title, class:"form-control" %>
    </div>

    <div class="wrap-input100 validate-input m-b-23">
      <%= form.label :description %>
      <%= form.text_area :description, class:"form-control" %>
    </div>

    <div class="wrap-input100 validate-input m-b-23">
      <%= form.file_field :image %>
    </div>  

    <div class="actions" style="padding:20px 60px;">
      <%= form.submit "Create Post", class:"btn btn-success" %>
    </div>
<% end %>

<script type="text/javascript"></script>
