
<%= form_with model: post, class: 'divTableRow', id: dom_id(post, 'inline_form') do |form| %>
  <div class="divTableCell">
    <%= form.text_field :user_id, class:"form-control w-75" %>
  </div>

  <div class="divTableCell">
    <%= form.text_field :title, class:"form-control w-75" %>
  </div>

  <div class="divTableCell">
    <%= form.text_field :description, class:"form-control w-75" %><br><br>
    <%= form.file_field :image %>
  </div>

  <div class="divTableCell">
    <%= form.submit "Update", class:"btn btn-warning " %>
  </div>
<% end %>

